<style>
    .contact-section{
        height: 30rem;
        margin-bottom: 10rem;
        position: relative;
    }
    .contact-section .blurer{
        position: absolute;
        top: -27%;
        left: 10%;
        width: 22rem;
        z-index: -10;
        background-color: rgb(244, 200, 117);
        height: 19rem;
        border-radius: 50%;
        filter: blur(70px);
    }
    .contact-section .blurer-1{
        position: absolute;
        top: 30%;
        left: 75%;
        width: 22rem;
        z-index: -10;
        background-color: rgb(216, 159, 216);
        height: 19rem;
        border-radius: 50%;
        filter: blur(70px);
    }

    .contact-section .container{
        padding: 3rem;
    }
    .contact-section .container .row .col .card{
        border: none;
    }
    .contact-section .container .row .col .card img{
        width: 400px;
        height: 400px;
        object-fit: contain;
    }
</style>

<div class="contact-section" data-aos="fade-up">
    <div class="blurer">

    </div>
    <div class="blurer-1">
<style>
  @media screen and (max-width: 817px){
    .row #contact-pic{
      display: none;
    }
  }
</style>
    </div>
    <div class="container" id="contact-id">
        <div class="row mb-5 d-flex">
            <h3 style="color: orange; text-shadow: 0px 0px 3px black; font-weight: 900;">Order Now</h3>
        </div>
        <div class="row">
            <div id="contact-pic" class="col">
                <div class="card">
                    <img src="../media/phone.png" alt="" class="card-img-top">
                </div>
            </div>
            <div style="background: linear-gradient(to right , rgba(255, 166, 0, 0.828) , rgba(255, 0, 0, 0.605)); border-radius: 10px;" class="col">
                <div class="row justify-content-around" style="height: 100%;">
                        <div class="card mb-3 d-flex justify-content-around" style="background: none; max-width: 540px;">
                            <div class="row g-0">
                              <div class="col-md-4 d-flex justify-content-around align-items-center ">
                                <img src="../media/whatsapp.png" style="width: 50px; height: 50px; object-fit: contain;" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title">+92 3325874430</h5>
                                </div>
                              </div>
                            </div>
                          </div>
                        <div class="card mb-3 d-flex justify-content-around" style="background: none;  max-width: 540px;">
                            <div class="row g-0">
                              <div class="col-md-4 d-flex justify-content-around align-items-center ">
                                <img src="../media/second_phone.png" style="width: 50px; height: 50px; object-fit: contain;" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title">0800-345232</h5>
                                </div>
                              </div>
                            </div>
                          </div>
                        <div class="card mb-3 d-flex justify-content-around"  style="background: none; max-width: 540px;">
                            <div class="row g-0">
                              <div class="col-md-4 d-flex justify-content-around align-items-center ">
                                <img src="../media/phone_1.png" style="width: 50px; height: 50px; object-fit: contain;" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title">+92 3339017072</h5>
                                </div>
                              </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
